[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"

[packages]
django = "*"
graphene-django = "*"
pillow = "*"
graphene-file-upload = "*"
python-dotenv = "*"
django-graphql-jwt = "*"
install = "*"
django-filter = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true